<div class="wrapper min-w-3 bg-own-400 p-10 flex w-full justify-between">
  <div class="icons flex">
    <div class="w-14 h-14 p-2 mx-2 bg-own-100 hover:ring-2 ring-white">
      <a href="https://github.com/Pawel-Wojc" target="_blank"
        ><img src="./assets/github-icon-dark.svg" alt="github" class="white" />
      </a>
    </div>
    <div class="w-14 h-14 p-2 bg-own-100 hover:ring-2 ring-white">
      <a
        href="https://www.linkedin.com/in/pawe%C5%82-w%C3%B3jcik-973b38235/ "
        target="_blank"
      >
        <img
          src="./assets/linkedin-icon-dark.svg"
          alt="linkedin"
          class="w-10 white"
        />
      </a>
    </div>
  </div>
  <div class="">
    Vectors and icons by
    <a href="https://www.svgrepo.com" target="_blank"> SVG Repo</a>
  </div>
</div>
