.wrapper {
  display: none;
}
.icons {
  padding: 0px;
  background: #233142;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  margin: 0px;
}
.icons img {
  width: 40px;
  padding: 5px;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    margin-top: auto;
    display: inline;
    text-align: center;

    justify-content: center;
  }
}
