<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div [ngClass]="navbarClass" class="wrapper">
  <a class="navbar-link" href="#home" (click)="changeNavbarType()">HOME</a>
  <a class="navbar-link" href="#homelab" (click)="changeNavbarType()"
    >MY HOMELAB</a
  >

  <a class="icon" (click)="changeNavbarType()">
    <i class="fa fa-bars"></i>
  </a>

  <a class="site-mode" (click)="changeMode()">MODE</a>
  <div class="icons">
    <a href="https://github.com/Pawel-Wojc" target="_blank"
      ><img src="./assets/github-icon-dark.svg" alt="github"
    /></a>

    <br />
    <a
      href="https://www.linkedin.com/in/pawe%C5%82-w%C3%B3jcik-973b38235/ "
      target="_blank"
    >
      <img src="./assets/linkedin-icon-dark.svg" alt="linkedin" />
    </a>
  </div>
</div>
