.slider {
  position: relative;
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.slider img {
  border-radius: 5px;
  width: 100%;
  display: none;
  aspect-ratio: 1 / 0.8;
}

.slider .displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1s;
}

.slider button {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  margin: 3px;
  padding: 5px 10px;
  font-size: 2rem;
  background-color: hsla(0, 0%, 0%, 0.254);
  color: white;
  border: none;
  cursor: pointer;
}
.prev {
  left: 40px;
}
.next {
  right: 40px;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1899%)
    hue-rotate(147deg) brightness(113%) contrast(78%);
}
