<main>
  <app-navbar></app-navbar>
  <app-home id="home"></app-home>
  <app-homelab id="homelab"></app-homelab>

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="icons">
    <p>Take a look!</p>
    <a href="https://github.com/Pawel-Wojc" target="_blank"
      ><img src="./assets/github-icon-dark.svg" alt="github" />
    </a>
    <br />
    <a
      href="https://www.linkedin.com/in/pawe%C5%82-w%C3%B3jcik-973b38235/ "
      target="_blank"
    >
      <img src="./assets/linkedin-icon-dark.svg" alt="linkedin" />
    </a>
  </div>

  <app-footer class="footer"></app-footer>
</main>
