.wrapper {
  justify-content: center;
  border: 2px solid white;
}

.text-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-container h1 {
  margin: 0;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 5rem);
  color: rgba(225, 225, 225, 0.01);
  background-image: url("../../assets/network-2-switches.jpg");
  background-size: 900px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

box-container {
  display: flex;
  justify-content: space-between; /* Distributes space between the two divs */
  gap: 20px; /* Optional: Adjusts the gap between the divs */
  padding: 10px;
}

.left,
.right {
  width: calc(50% - 10px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}
