.wrapper {
  padding-top: 60px;
  position: relative;
}

.box-container {
  display: flex;
  justify-content: space-around;
}

.left,
.right {
  width: 25%;
  height: 20%;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
img {
  position: relative;
  left: 25%;
  width: 50%;
  display: block;
}

.text {
  display: none;
}
.text-big-screen {
  font-size: 50px;
  width: 600px;
  height: 120px;
  left: -290px;
  bottom: 160px;

  position: absolute;
  -webkit-text-stroke: 0.2px white;
  color: rgba(225, 225, 225, 0.01);
  transform: rotate(90deg);
}

@media screen and (max-width: 1000px) {
  .text-big-screen {
    display: none;
  }
  .text {
    all: unset;
    position: relative;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);

    font-size: 2vw;
  }
  .wrapper {
    height: 100%;
  }
  .box-container {
    justify-content: center;
    flex-direction: column;
  }
  .left,
  .right {
    position: relative;
    width: auto;
  }
}

a {
  float: right;
  text-decoration: none;
  color: #e3e3e3;
}
a:hover {
  color: #f95959;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
