<div class="wrapper">
  <div class="text-container">
    <h1>HOMELAB</h1>
  </div>
  <!-- <img src="../../assets/network-2-switches.jpg" alt="xd" /> -->
  <div class="box-container">
    <div class="left box">
      Truenas
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        quaerat maiores commodi delectus rerum ut sed in reiciendis! Suscipit
        pariatur fugiat consectetur optio culpa delectus, nostrum dolore
        sapiente odit harum.
      </p>
    </div>

    <div class="right box">
      Proxmox
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iste
        dolorem incidunt nesciunt eum reiciendis ut iure explicabo dolor
        dignissimos itaque, earum odit harum facere, sed quia ad voluptatum
        eaque!
      </p>
    </div>
  </div>
</div>
