<div class="wrapper">
  <div class="box-container">
    <div class="welcome">
      Hey, I'm Pawel <br />
      Welcome on my page
    </div>
    <div class="skills">
      <a routerLink="/">
        <img src="./assets/c-sharp.svg" alt="" />
        <img src="./assets/c-plusplus.svg" alt="" />
        <img src="./assets/docker.svg" alt="" />
        <img src="./assets/linux.svg" alt="" />
        <img src="./assets/react.svg" alt="" />
        <img src="./assets/typescript.svg" alt="" />
        <img src="./assets/windows.svg" alt="" /> <br />
        Check out my project</a
      >
    </div>
    <div class="aboutme">
      <p>
        I'm a final-year student at the Silesian University of Technology, with
        a strong interest in IT and a knack for all things tech. I’m passionate
        about programming and always up for the challenge of learning something
        new. Beyond software, I enjoy getting my hands dirty with electronics
        and have a solid understanding of Linux and various server technologies.
        Whether it's coding, setting up servers, or exploring the latest
        gadgets, I'm constantly driven by curiosity and a desire to innovate.
      </p>
    </div>
  </div>
</div>
